# Visual Studio
.vs/
*.VC.db
*.opendb

# Builds
[Bb]uild*/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
*.obj
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.ipch

# User-specific
*.user
*.suo

# logs
.logs/*.txt
data/log/*.csv

# Others
*.aps
*.dxa

# Generated neural-network training data
othello_training*.csv

# Locally trained neural-network models
data/model/*.model
